/* .slideimg
{
    height: 40rem;
    background-color: rgba(1, 1, 22, 0.144);
} */

.banner-btn
{
    color: white;
    background-color: transparent;
    border: white 3px solid;
    padding-left: 25px;
    padding-right: 25px;
}
.banner-btn:hover
{
    color: rgb(12, 3, 51);
    background-color: white;
    font-weight: 600;
    border: rgb(25, 6, 68) 3px solid;
    padding-left: 25px;
    padding-right: 25px;
  
}

.serviceHeading
{
    transition: 0.6s;
}
.serviceHeading:hover
{
    transform: scale(1.25);
}

