.product{
    display: flex;
    flex-direction:"column";
    
    /* border-bottom: 1px solid lightgray; */
   
    padding-bottom: 5px;
    height: 100%;
    align-items: stretch;
   
}
.product:hover{
    display: flex;
    flex-direction:"column";
    border:solid 1px solid rgb(9, 207, 221);;
    /* border-bottom: 1px solid lightgray; */
    height: 100%;
    align-items: stretch;
   
}


.product-img{
    height: 120px;
    width: 120px;
    transition: .6s;
        
    }
.product-img:hover{
    transform: scale(1.15);
    
}
.icon-color:hover {
    transform: scale(1.25);
    
}

.product-name{
    color: blue;
    font-weight: 400;
    font-size: 12px;
}
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.icon-color{
    color: rgb(255, 0, 98);
}